---
title: トップページ
---

section.container
  h3 仲間
  table.table.table-striped.table-bordered
    tr
     th.col-xs-6.col-sm-3 仲間
     th.col-xs-6.col-sm-9 備考
    - data.partners.each do |partner|
      tr
        th = partner.name
        td = partner.note

section.container
  h3 ダンジョン
  - Area.all.each do |area|
    section.container
      h4 = area.name
      table.table.table-striped.table-bordered
        tr
         th.col-md-2 名前
         th.col-md-1 階層
         th.col-md-9 備考
        - area.dungeons.each do |dungeon|
          tr
            th = dungeon.name
            td
              | #{dungeon.floors}F
            td = dungeon.remarks

section.container
  h3 技
  table.table.table-striped.table-bordered
    tr
     th.col-xs-5.col-sm-3 技名
     th.col-xs-1.col-sm-1 消費AP
     th.col-xs-1.col-sm-1 取得NP
     th.col-xs-5.col-sm-7 備考
    - Abillity.all.each do |abillity|
      tr
        th = abillity.name
        td = abillity.ap
        td = abillity.np
        td = abillity.try!(:remarks)
